#header {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
img {
    height: 300px;
}
label {
    font-size: 50px;
    color: purple;
}
body {
    background-color: skyblue;
}
#name {
    font-size: 30px;
    color: black;
    margin-left: 50px;
}
.result {
    border-radius: 10px;
    background-color: grey;
    width: 100%;

}
#result {
    color: black;
    font-size: 30px;
    font-family: 'Qahiri', sans-serif;
}
p {
    font-size: 30px;
}